<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <div>
        <h1>Welcome To QuotingDojo</h1>
        <div>
            <form action="/newQuote" method="post">
                <label for="name">Your Name:<input type="text" name="name" id="name"></label>
                <label for="quote">Your Quote: <textarea name="quote" id="" cols="30" rows="5"></textarea></label>
                <input type="submit" value="Add my quote!">
                <a href="/showQuotes">Skip to quotes!</a>
            </form>
        </div>
    </div>
</body>
</html>