<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Result</title>
</head>
<body>
    <h1>Name: &nbsp; <%= userData.name%></h1>
    <h1>Location: &nbsp; <%= userData.location%></h1>
    <h1>Favorite Language: &nbsp; <%= userData.language%></h1>
    <h1>Comment:</h1>
    <textarea name="" id="" cols="30" rows="10"><%= userData.comment%></textarea>
</body>
</html>